
.MyButton {
  background-color: #00a656;
  border-radius: 1.5em;
  /* box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2); */
  padding: 1em 2em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  /* padding : 20px ; */
  margin:10px;
  width: 90px;
  height: 60px;

}
